/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 
        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */
* {
    padding: 0;
    
    
    margin: 0;
    
    
    border: none;
    
    
    }
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i|Roboto+Condensed:400,400i,700|Roboto:400,400i,900|Shadows+Into+Light');

html {
    margin: 0;
    padding: 0;
    font-size: 16px;
    background-color: #FFFFFF;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
   width: 100%;
} 
header{
    transform: rotate(-2deg);
    margin-bottom: 40px;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.highlight{
    background-color:rgb(169, 50, 50);
    color: antiquewhite;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
}
#nav{
    border-top: solid 2px #969393;
    border-bottom: solid 2px #969393;
    padding: 12px 0;
    margin-bottom: 30px;
}
#nav>li{
    display: inline-block;
}
#nav>li>a{
    color: #5c92e4;
    text-decoration: none;
    font-size:20px;
    padding: 0 30px;
}
#nav>li>a.active{
    color: black;
    text-transform: uppercase;
    text-decoration: line-through;
   
}
.heading-2{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    margin: 0 30px;
    margin-bottom: 20px;
}
.heading-3{
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-section{
    /* background-color: #5c92e4; */
    margin:10px 30px 0px 30px;

    display: flex;
    
}
article{
    border-right: solid 2px #969393;
    width: 80%;
}

aside{
    margin-left: 25px;
    /* flex-basis:300px; */
   width: 20%;

}
time{
    font-style: italic;
    font-size:14px;
}
p{
    margin-bottom: 20px;
    margin-right: 25px;
}
.article-image{
    float: left;
    margin-right:14px;
}
.circle{
    font-size: 6px;
    padding-bottom: 30px;
    border-bottom: solid 2px #969393;
    text-decoration: none;
}

.expand {
    text-decoration: none;
}

figure>img{
    width: 380px;
}
.grid-item img{
    width: 280px;
}
.grid-item p{
    margin-bottom: 10px;
    margin-right:0px;
}
.grid-item{
    margin-bottom: 20px;
}
.subsection{
    display: flex;
    margin-right: 15px;
    margin-top: 50px;
}

.subsection figure{
    margin-right: 10px;
    
}

figcaption{
    background-color:antiquewhite;
    margin-top: -4px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.btn-subscribe{
    margin-top: 40px;
    background-color: #1650a8;
    color:#FFFFFF;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}

footer{
    display: flex;
    justify-content: space-between;
    margin-top:100px;
    margin-left: 30px;
    margin-right: 30px;
}
.ideal{
    text-align:right;
    margin:0px;
}
.figure-bottom{
    width: 370px;
    
}




